* {
    box-sizing: border-box;
}

body {
   
    background-color: #e8f1f2;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    padding: 0;
}

.topo {
    background-color: #006494;
    text-align: center;
    padding: 30px;
    color: #e8f1f2;

}

.topo h1 {

    font-size: 40px;
}

.menuTopo {
    overflow: hidden;
    background-color: #1b98e0;
    text-align: center;
    position: sticky;
    top: 0px;

}

.menuTopo ul li {
    float: left;
}

.menuTopo ul {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuTopo a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
    background-color: #b9e7f8;
    margin: 0 2px;
    border-radius: 3px;

}

.menuTopo a:hover {
    background-color: #13293d;
    color: #e8f1f2;

}


.corpo {
    width: 1024px;
    margin: 10px auto;
    margin-bottom: 110px;
    
}

.corpo:after {
    clear: both;
    content: "";
    display: table;
    justify-content: space-around;
}




#container{
    display:flex;
    flex-direction: row;
 



  
}

.esquerda{

    width: 100vh;
    float: left;
}
.destaque {

    width: 50vh;
    text-align: center;
    border: solid 2px black;
    padding: 30px;
    background-color: #b9e7f8;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}


.rodape a {
    color: #e8f1f2;
    text-decoration: none;

}
.rodape a:hover {
    color: #b9e7f8;

}

Img {
    width: 25%;
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #13293d;
    color: #e8f1f2;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
   
}

@media screen and (max-width:1028px) {

    .esquerda,
    .direita {
        width: 100%;
        padding: 10px;
    }

    .corpo {
        width: 100%;
        padding: 5px;
        margin: 0;
    }
}

@media screen and (max-width: 400px) {

    .menuTopo ul li,
    .menuTopo a {
        float: none;
        width: 100%;
    }
}